<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>capstonBBBBNative</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>capstonBBBBNative</string> <!-- 이 값은 적절한 서명 값으로 수정 필요 -->
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string> <!-- 여기서 com.yourapp은 앱 고유의 스킴입니다 -->
			</array>
		</dict>
	</array>
	<key>NMFClientId</key>
	<string>$(NAVER_MAP_ID)</string>

	
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/> <!-- 보안상의 이유로 이 값을 false로 설정 -->
		<key>NSAllowsLocalNetworking</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>devse.gonetis.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>

  <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
  <string>이 앱은 귀하의 위치를 사용하여 주변 정보를 제공합니다.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>이 앱은 귀하의 위치를 사용하여 주변 정보를 제공합니다.</string> <!-- 위치 서비스 설명 추가 -->

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>

	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string> <!-- 이 값이 맞는지 확인 후 필요한 경우 수정 -->
	</array>

	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
